<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/stylesheets/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/stylesheets/fontawesome/css/fontawesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/stylesheets/fontawesome/css/solid.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
    <link
      href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <title>Document</title>
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
  </body>
</html>