<header style="padding-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <h1 class="mb-3">新增餐廳資訊</h1>
        <a
          href="/restaurants/{{restaurant.id}}"
          class="btn btn-secondary mb-3"
        >回餐廳資訊</a>
      </div>
    </div>
  </div>
</header>

<form action="/restaurants" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">

        <p class="mb-2">
          <span class="text-secondary">
            <i class="fas fa-house pr-2"></i>
            餐廳名稱 *
          </span>
          <input
            type="text"
            name="name"
            placeholder="填入餐廳名稱"
            class="form-control"
            required
          />
        </p>

        <p class="mb-2">
          <span class="text-secondary">
            <i class="fas fa-house pr-2"></i>
            餐廳名稱 (英文)
          </span>
          <input
            type="text"
            name="name_en"
            placeholder="填入餐廳名稱 (英文)"
            class="form-control"
          />
        </p>

        <p class="mb-2">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別 *
          </span>
          <input
            type="text"
            name="category"
            placeholder="填入餐廳類別"
            class="form-control"
            required
          />
        </p>

        <p class="mb-2">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址 *
          </span>
          <input
            type="text"
            name="location"
            placeholder="填入餐廳地址"
            class="form-control"
            required
          />
        </p>

        <p class="mb-2">
          <span class="text-secondary">
            <i class="fas fa-map-marked-alt pr-2"></i>
            Google Map 連結
          </span>
          <input
            type="text"
            name="google_map"
            placeholder="填入 Google Map 連結"
            class="form-control"
          />
        </p>

        <p class="mb-2">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話 *
          </span>
          <input
            type="text"
            name="phone"
            placeholder="填入餐廳電話"
            class="form-control"
            required
          />
        </p>

        <p class="mb-5">
          <span class="text-secondary">
            <i class="fas fa-circle-info pr-2"></i>
            簡介
          </span>
          <textarea
            name="description"
            class="form-control"
            rows="5"
            placeholder="在此新增簡介"
          ></textarea>
        </p>

        <p class="mb-2">
          <span class="text-secondary">
            <i class="fas fa-image pr-2"></i>
            圖片連結
          </span>
          <input
            type="text"
            name="image_url"
            placeholder="加入圖片連結 (若沒有加入，以下為預設圖片)"
            class="form-control"
          />
        </p>

        <img
          class="rounded mx-auto d-block mb-4 w-100"
          src="{{getImage restaurant.image}}"
          alt="{{restaurant.name}}"
          style="max-width: 600px;"
        />

        <div class="form-group text-center">
          <button type="submit" class="btn btn-success">儲存</button>
        </div>

      </div>
    </div>
  </div>
</form>